<html>

<head>
  <title>murcott</title>
  <link href='/css/style.css' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar.min.js'></script>
  <script>
    $(function() {

      var accounts = [];
      try {
        accounts = JSON.parse(localStorage["accounts"]);
        for (i = 0; i < accounts.length; i++) {
          addAccountButton(accounts[i].id, accounts[i].key);
        }
      } catch (e) {
        console.log(e)
      }

      function addAccountButton(id, key) {
        $button = $('<li>')
          .append(
            $('<a>')
            .attr('href', '/chat/' + id + '/' + key)
            .append(id));
        $('#new-account').before($button);
      }

      $('#new-account a').click(function() {
        $.getJSON("/newkey", function(data) {
          addAccountButton(data.id, data.key);
          accounts.push(data);
          localStorage["accounts"] = JSON.stringify(accounts);
        });
      });
    });
  </script>
  <h1>murcott</h1>
  <ul id="account-list">
    <li id="new-account">
      <a href="javascript:void(0)"><i class="fa fa-plus-circle"></i> New account</a>
    </li>
  </ul>
  <a href="https://github.com/h2so5/murcott">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://bit.ly/1lgtck8" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png">
  </a>
</body>

</html>
