html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  background-color: #fefefe;
}
::selection {
  background-color: #ddd;
}
h1 {
  color: #ff844f;
  font-family: 'Lobster', sans-serif;
  text-shadow: 0px 1px 1px #85442a;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 72px;
}
h4 img {
  vertical-align: middle;
  margin-right: 8px;
}
ul#account-list {
  list-style: none;
  width: 320px;
  margin: auto;
  padding: 0;
}
ul#account-list li {
  text-align: center;
  margin: 12px;
}
ul#account-list a {
  font-size: 12px;
  color: #fff;
  display: block;
  padding: 12px;
  text-decoration: none;
  background-color: #ff844f;
  border-radius: 4px;
  box-shadow: 0px 1px 1px #9e3c33;
}
ul#account-list a:hover {
  background-color: #d2613f;
}
ul#account-list li#new-account {
  margin-top: 24px;
  margin-bottom: 80px;
}
ul#account-list li#new-account a {
  color: #ff844f;
  box-shadow: 0px 1px 1px #bbb5b4;
  background-color: #fff;
}
ul#account-list li#new-account a:hover {
  background-color: #eee;
}
div#sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 240px;
  background-color: #ff844f;
  box-shadow: 0px 1px 1px #9e3c33;
}
div#sidebar h2 {
  font-size: 14px;
  color: #fff;
  text-shadow: 0px -1px 1px #85442a;
  margin: 26px 26px 0px 26px;
}
div#sidebar ul {
  list-style: none;
  font-size: 12px;
  padding: 0px;
}
div#sidebar ul > li {
  padding: 0px 32px;
}
div#sidebar ul > li.item {
  font-size: 14px;
  padding: 0px;
}
div#sidebar ul > li.item > a:hover {
  background-color: #d2613f;
}
div#sidebar ul > li.item > a {
  overflow: hidden;
  display: block;
  text-decoration: none;
  padding: 8px 0px 8px 68px;
  margin: 4px 0px;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 32px center;
}
div#sidebar ul > li.item > a.active {
  background-color: #d2613f;
  color: #fff;
}
div#sidebar li > a {
  color: #000;
}
div#contents {
  margin-left: 240px;
  padding: 12px 32px 64px 32px;
}
div#contents h2 {
  text-shadow: 0px 1px 1px #85442a;
  text-align: center;
}
div#contents h3 {
  text-align: center;
  color: #aaa;
}
div#input-wrap {
  position: fixed;
  bottom: 20px;
  left: 320px;
  right: 60px;
}
ul.chatlog {
  list-style: none;
  margin-bottom: 40px;
  white-space: pre-wrap;
  word-break: break-all;
}
input#chat-input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #85442a;
  resize: none;
  width: 100%;
  border-radius: 4px;
}
a.add-image {
  position: absolute;
  top: 10px;
  right: -36px;
  color: #000;
  font-size: 20px;
}
form#settings {
  width: 100%;
  margin: 20px auto;
}
form#settings input {
  width: 100%;
}
form#settings input[type="text"] {
  border: 1px solid #85442a;
  padding: 4px;
  border-radius: 4px;
}
form#settings textarea {
  border: 1px solid #85442a;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
  height: 100px;
}
form#settings input[type="submit"] {
  color: #fff;
  padding: 12px;
  background-color: #ff844f;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 1px 1px #9e3c33;
  margin-top: 40px;
}
form#settings ul {
  list-style: none;
  padding: 0px 120px;
}
form#settings ul > li {
  margin: 12px 0px;
}
span.date {
  font-size: 8px;
  margin-right: 8px;
  color: #ff844f;
}
