html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  background-color: #FF9900;
}
::selection {
  background-color: rgba(145, 178, 58, 0.8);
}
h4 {
  margin: 0px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
#wrap {
  position: absolute;
  width: 100%;
}
#main {
  position: relative;
  height: 100%;
  width: 100%;
}
#head {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  height: 28px;
  width: 100%;
  color: rgba(145, 178, 58, 0.8);
  text-align: center;
}
#console {
  position: fixed;
  height: 36px;
  bottom: 20px;
  left: 220px;
  right: 220px;
  float: left;
  background-color: rgba(255, 255, 255, 0.6);
}
#console_content {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#console_content input {
  margin: 0;
  padding: 10px;
  background: none;
  border: none;
  font-size: 16px;
  width: 100%;
  resize: none;
  outline: none;
}
.button {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  text-decoration: none;
  color: #000;
}
.selected {
  background-color: rgba(255, 255, 255, 0.6);
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
#login-modal-wrap {
  position: fixed;
  width: 100%;
  top: 30%;
}
#login-modal {
  position: relative;
  width: 220px;
  margin-top: -250px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}
#roster {
  position: fixed;
  width: 220px;
  top: 30px;
  bottom: 0px;
  left: 0px;
}
.node {
  width: 200px;
  height: 32px;
  margin: 10px;
}
.node-id {
  text-align: center;
  margin: 10px 6px;
  font-size: 8px;
}
.add-node {
  text-align: center;
  width: 200px;
  height: 32px;
  margin: 10px;
}
.node-command {
  text-align: center;
}
.add-node i {
  font-size: 24px;
  margin: 6px;
  color: rgba(255, 255, 255, 0.6);
}
#log {
  position: absolute;
  right: 220px;
  left: 220px;
  margin: 40px 0px 60px 0px;
}
#log ul {
  list-style: none;
  padding: 10px;
}
#debuglog {
  position: fixed;
  width: 220px;
  top: 30px;
  bottom: 0px;
  right: 0px;
  overflow-y: auto;
}
#debuglog ul {
  font-size: 10px;
  list-style: none;
  padding: 10px;
}
